.section {
  padding: 10px;
  position: relative;
  margin: 35px 0;
  border-radius: 5px;
  width: 100%;
  min-width: 300px;

  &-yellow {
    @include sectionColors($yellow, $yellow-border, $yellow-dark, $yellow-font);
  }

  &-pink {
    @include sectionColors($pink, $pink-border, $pink-dark, $pink-font);
  }

  &-blue {
    @include sectionColors($blue, $blue-border, $blue-dark, $blue-font);
  }

  &-lavander {
    @include sectionColors(
      $lavander,
      $lavander-border,
      $lavander-dark,
      $lavander-font
    );
  }

  &-mint {
    @include sectionColors($mint, $mint-border, $mint-dark, $mint-font);
  }
}

.section-width {
  width: 30%;
}

.top-container {
  width: 100%;
  padding: 30px;
  margin: 0;
}

.topic-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
