// .cavet {
//   font-family: "Caveat", cursive;
//   font-size: 50px;
//   margin: 30px 0;
// }

span {
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  text-decoration: underline $yellow;
}

.text-decoration {
  text-decoration: underline;
  text-decoration-color: #4a173c;
}

.block {
  margin-bottom: 50px;
  &-inline {
    text-align: center;
  }
}

.block__row {
  background-color: $pink;
  border: 10px solid $pink-border;
  border-radius: 10px;
  &-flex {
    display: flex;
  }
  &-inline {
    display: inline-flex;
  }
  &-wrap {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
  }
  &-reverse {
    width: 20%;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  &-direction {
    display: flex;
    flex-direction: row;
  }
  &-direction-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}
.block__column {
  background-color: $blue;
  border: 10px solid $blue-border;
  &-1 {
  }
  &-2 {
  }
  &-3 {
  }
}

.block__item {
  background-color: $lavander;
  border-radius: 10px;
  color: $lavander-font;
  font-size: 50px;
  font-weight: 600;
  padding: 50px;
}
