@import "mixin";
@import "variables.scss";
@import "normalize.scss";
@import "header.scss";
@import "block.scss";
@import "flex-box.scss";

body {
  // background-color: #f7fffa;
  background-image: url(/images/bg-repeat.jpg);
  // background-attachment: fixed;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #3e694d;
}
h2 {
  font-size: 40px;
  color: #4a173c;
  margin: 50px 0;
}
p {
  color: #3e694d;
  font-size: 25px;
  line-height: 50px;
}
