$yellow: #ffffbf;
$yellow-border: #f0ee5d;
$yellow-dark: rgba(189, 164, 24, 1);

$pink: #ffbffd;
$pink-border: #ffa3f4;
$pink-dark: rgba(168, 24, 189, 1);

$blue: #bfeeff;
$blue-border: #a3f6ff;
$blue-dark: rgba(24, 88, 189, 1);

$lavander: #ddbfff;
$lavander-border: #c9a3ff;
$lavander-dark: rgba(108, 24, 189, 1);

$mint: #bfffe9;
$mint-border: #a3fff4;
$mint-dark: rgba(24, 189, 161, 1);
